.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.logo {
  width: 50%;
  text-align: center;
  transition: all 0.5s ease-out;
}

.h1 {
  color: rgba(248, 26, 10, 0.685);
  font-family: "Akaya Telivigala", cursive;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}
.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
