.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.card {
  list-style: none;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-around;
}

.logo {
  font-family: "Akaya Telivigala", cursive;

  /*width: 50%;*/
  width: 290px;
  justify-content: center;
  /*object-fit: contain;*/
}
