.container__notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: rgba(34, 175, 177, 0.5);
  border-radius: 20px;
}

.title__notfound {
  font-family: "Architects Daughter", cursive;
  font-size: 40px;
  color: black;
}
