.containerPoke {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 5px;
  width: 18vw;
}

.container__name--character {
  background-color: rgb(34, 174, 177);
}

.name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Akaya Telivigala", cursive;
  color: darkslategray;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
}

.muerto {
  width: 25%;
  padding-left: 80px;
  text-align: center;
  transition: all 0.5s ease-out;
}
.typePokemons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.types {
  display: flex;
  justify-content: flex-start;
  background-color: dimgrey;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  list-style-type: none;
  font-family: "Akaya Telivigala", cursive;
}
