.container {
  width: 100%;
}
.containerCharacter {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 200px;
}

.container__detail {
  height: 84vh;
  margin: 25px;
  padding-bottom: 10px;
  background-size: cover;
}
.container__name {
  background-color: rgba(34, 175, 177, 0.5);
  padding-left: 10px;
}
.icon__sign {
  color: lime;
  text-align: right;
  margin-left: 180px;
  font-size: 30px;
}
.icon {
  color: lime;
  margin-left: 155px;
  font-size: 20px;
}
.name_Detail {
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
  color: black;
}
.name__link {
  list-style-type: none;
  text-decoration: none;
}
