.container__notfound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(34, 175, 177, 0.5);
}

.container__name {
  background-color: rgba(34, 175, 177, 0.5);
  padding-left: 10px;
}
.title {
  font-family: "Architects Daughter", cursive;
  font-size: 40px;
  color: black;
}
.name__link {
  list-style-type: none;
  text-decoration: none;
}
