.containerCharacter {
  width: 60%;
  background-color: rgba(34, 175, 177, 0.315);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 10px;
  justify-content: space-around;
}

.name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Akaya Telivigala", cursive;
  color: black;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
}

.muerto {
  width: 25%;
  /*padding-left: 20px;
  text-align: center;*/
}

.typePokemons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}

.types {
  display: flex;
  justify-content: flex-start;
  background-color: dimgrey;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  list-style-type: none;
  font-family: "Akaya Telivigala", cursive;
}
