.filter__container {
  width: 100%;
  display: inline;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.title__filter {
  color: lightseagreen;
  font-family: "Akaya Telivigala", cursive;
  font-size: 10px;
  text-transform: uppercase;
}
.form__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form__label {
  color: rgba(248, 26, 10, 0.685);
  font-family: "Akaya Telivigala", cursive;
  font-size: 10px;
  padding-top: 5px;
}

.form__input-text {
  background-color: rgba(8, 8, 92, 0.438);
  color: rgb(43, 156, 43);
  font-size: 10px;
  font-family: "Akaya Telivigala", cursive;
  cursor: pointer;
  border: solid 2px darkslategray;
  padding: 3px;
  margin-bottom: 5px;
}

@media all and (min-width: 768px) {
  .form__label {
    font-size: 25px;
  }
  .form__input-text {
    font-size: 20px;
  }
  .title__filter {
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .title__filter {
    font-size: 30px;
  }
}
